---
export type Props = {
  id: string;
  name: string;
  label: string;
  class?: string;
  required?: boolean;
};

const { id, name, label, class: className, required } = Astro.props;
---
<div class={className}>
  <label for={id} class="relative block cursor-pointer select-none">
    <input
      required={required}
      id={id}
      name={name}
      type="checkbox"
      class="h-0 w-0 cursor-pointer appearance-none outline-none before:block 
      before:absolute before:bg-white before:border-2 before:border-secondary before:rounded-sm 
      before:h-6 before:w-6 before:top-0 focus:before:ring 
      focus:before:ring-border-contrast checked:before:bg-secondary 
      checked:after:block checked:after:absolute checked:after:h-6 checked:after:w-6 checked:after:top-0 
      checked:after:bg-no-repeat checked:after:bg-center"
    />
    <span class="pl-2">
      {label}{required ? " *" : ''}
    </span>
  </label>
</div>

<style>
	input::before {
    translate: -100% 0%;
	}

	input:checked::after {
    translate: -100% 0%;
		/** inline unicons checkmark SVG */
		background-image: url("data:image/svg+xml;utf-8,<svg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M9.04731 1.01279C9.34958 1.296 9.36503 1.77062 9.08182 2.07289L4.19342 7.29032C3.77774 7.73398 3.07363 7.73398 2.65795 7.29032L1.01279 5.53443C0.729585 5.23216 0.745038 4.75754 1.04731 4.47433C1.34958 4.19112 1.8242 4.20658 2.1074 4.50884L3.42568 5.91586L7.98721 1.04731C8.27042 0.745037 8.74504 0.729585 9.04731 1.01279Z' fill='white'/></svg>");
	}
</style>