---
interface Props {
  id: string;
  name: string;
  label: string;
  required?: boolean;
}

const { id, name, label, required } = Astro.props;
---

<div class="flex w-full max-w-md flex-col gap-1 px-2">
  <label for={id}>{label}{required && " *"}</label>
  <input
    required={required}
    class="bg-canvas--alt border-primary--alt focus:ring-border-secondary rounded-sm border-2 px-2 py-1 focus:ring focus:outline-none"
    type="text"
    id={id}
    name={name}
  />
</div>
