---
interface Props {
  id: string;
  name: string;
  label: string;
  required?: boolean;
}

const { id, name, label, required } = Astro.props;
---
<div class="flex flex-col gap-1 max-w-md w-full px-2">
  <label for={id}>{label}{required && ' *'}</label>
  <input required={required} class="bg-white border-2 rounded-sm border-secondary py-1 px-2 focus:outline-none focus:ring focus:ring-border-contrast" type="text" id={id} name={name} />
</div>
