---
import { Image } from 'astro:assets';
import type { AccommodationProps } from './AccommodationProps';
import Subheading from '../Subheading.astro';
import Tag from './Tag.astro';

type Props = AccommodationProps;
const { title, imgSrc, description, price, beds, bedsExtra, sleeps, sleepsExtra, bathrooms, link, fullyBooked } = Astro.props;
---
<div class="flex gap-4 w-full text-left flex-wrap p-4">
  <Image src={imgSrc} alt={title} width="400" height="400"/>
  <div class="flex flex-col grow gap-4">
    <div class="flex justify-between">
      <Subheading class={fullyBooked ? 'line-through' : ''}>{title}</Subheading>
      <div class="flex gap-1 items-center">
        <Tag icon="B">{beds}{bedsExtra && ` (+${bedsExtra})`}</Tag>
        <Tag icon="S">{sleeps}{sleepsExtra && ` (+${sleepsExtra})`}</Tag>
        <Tag icon="B">{bathrooms}</Tag>
      </div>
    </div>
    <div class="flex flex-col grow justify-between">
      <div>
        {fullyBooked && <p class="text-contrast font-bold">Fully booked</p>}
        {description.map((d) => <p>{d}</p>)}
      </div>
      <div class="flex justify-between">
        <a href={link} target="_blank">See on website</a>
        <p class="p-0 font-bold">£{price} for 3 nights (£{Math.round(price/sleeps)} pp)</p>
      </div>
    </div>
  </div>
</div>