---
import { Image } from "astro:assets";
import type { AccommodationProps } from "./AccommodationProps";
import Tag from "./Tag.astro";
import classnames from "classnames";

type Props = AccommodationProps;
const {
  title,
  imgSrc,
  description,
  price,
  beds,
  bedsExtra,
  sleeps,
  sleepsExtra,
  bathrooms,
  link,
  fullyBooked,
} = Astro.props;
---

<div class="flex w-full flex-wrap gap-4 p-4 text-left md:flex-nowrap">
  <Image
    class="w-full md:w-sm md:self-start"
    src={imgSrc}
    alt={title}
    width="300"
    height="300"
  />
  <div class="flex grow flex-col gap-4">
    <div class="flex flex-wrap justify-between gap-2">
      <h3
        class={classnames("font-serif text-xl", {
          "line-through": fullyBooked,
        })}
      >
        {title}
      </h3>
      <div class="flex items-center gap-1">
        <Tag icon="bed">{beds}{bedsExtra && ` (+${bedsExtra})`}</Tag>
        <Tag icon="people">{sleeps}{sleepsExtra && ` (+${sleepsExtra})`}</Tag>
        <Tag icon="bathroom">{bathrooms}</Tag>
      </div>
    </div>
    <div class="flex grow flex-col justify-between">
      <div>
        {fullyBooked && <p class="text-secondary font-bold">Fully booked</p>}
        {description.map((d) => <p>{d}</p>)}
      </div>
      <div class="flex flex-wrap justify-between gap-2">
        <a href={link} target="_blank">See on website</a>
        <p class="p-0 font-bold">
          £{price} for 3 nights (£{Math.round(price / sleeps)} pp)
        </p>
      </div>
    </div>
  </div>
</div>
